.Header{
    position: fixed;
    width: 100%;
    padding: 50px 20px;
    z-index: 100;
}

.HeaderGroup{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.Header a { 
    color: white;
    font-weight: 700;
}

.Header button { 
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: #56ccf2;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.6s;
}


.Header button:hover {

    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
    transform: translateY(-3px)

}

@media (max-width: 640px) {

    .Header{
        padding: 15px 0;
    }

    .HeaderGroup{
        grid-template-columns: repeat(4, auto);
    }
    
    .Header a:nth-child(4) {
        display: none;
    }
}



